{% extends "_layout.html.jinja" %}
{% block main_content %}
<div class="container">
    <div></div>
    <div class="container-center">
        <!-- <h1>Latex templates</h1> -->
        <div id="content">
        </div>
    </div>
    <div></div>

</div>

{% endblock %}